.git
.github
.vscode
node_modules
**/node_modules
data
docs
mkdocs.yml
*.md
readme.md
license
shell.nix
.envrc
.prettierrc.yaml
.prettierignore
docker-compose*.yaml
cli
tests
builder
repo
public.pps
dev.pps
var
