version: "3.2"

services:
  api:
    build: api
    container_name: piston_api
    cap_add:
      - CAP_SYS_ADMIN
    restart: always
    ports:
      - 2000:2000
    volumes:
      - ./data/piston:/piston
    environment:
      - PISTON_REPO_URL=http://repo:8000/index
      - PISTON_LOG_LEVEL=DEBUG
    tmpfs:
      - /piston/jobs:exec

  repo: # Local testing of packages
    build: repo
    container_name: piston_repo
    command: ["--no-build"] # Don't build anything
    volumes:
      - .:/piston
